@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
.Toastify__toast {
  display: flex !important;
  flex-direction: row-reverse !important;
  align-items: center;
  gap: 16px;
  font-family: 'yekan' !important;
  color: black !important;
}

.Toastify__toast-icon {
  flex-shrink: 0 !important;
  margin: 0 !important;
}

.Toastify__toast-body {
  direction: rtl !important;
  flex: 1;
  margin: 0 !important;
  padding: 0 !important;
  gap: 15px;
}